node_modules/
serverless/
package-lock.json/
serverless_sdk/
/.serverless
.serverless
/venv
venv/
/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/google_api/credentials.json
/google_api/token.json
